<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pequenaarea.bmp.com.pequenaarea">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/TesteDesign">
        <activity
            android:name=".activity.Login"
            android:label="Login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.CriaUsuario" />
        <activity android:name=".activity.TelaPrincipal" />
        <activity android:name=".activity.PeladaListViewActivity"></activity>
    </application>

</manifest>